@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f7f8fd;
  position: relative;
}

header .brand_logo {
  padding-bottom: 9px;
  margin-right: 3vw;
}

header .nav .close {
  display: none;
  cursor: pointer;
}

header .nav a {
  color: #b6bcc8;
  position: relative;
  padding: 3rem 0;
  margin: 0 1rem;
}

header .nav a:hover {
  color: #68707d;
}

header .nav a:hover::after {
  width: 100%;
}

header .nav a::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0rem;
  width: 0%;
  height: 4px;
  background: #ff7d1a;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

header .panierProfil {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .panierProfil .cart {
  margin: 0 2rem;
  position: relative;
}

header .panierProfil .cart img {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

header .panierProfil .cart img:hover {
  opacity: 1;
  cursor: pointer;
}

header .panierProfil .cart .burger {
  display: none;
}

header .panierProfil .cart .active {
  opacity: 1;
}

header .panierProfil .cart .item-number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff7d1a;
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  padding: 0px 8px;
  border-radius: 1rem;
  -webkit-transform: translate(40%, -20%);
          transform: translate(40%, -20%);
}

header .panierProfil .profil {
  margin-left: 1rem;
}

header .panierProfil .profil img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid transparent;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

header .panierProfil .profil img:hover {
  border: 2px solid #ff7d1a;
}

header .open {
  display: block !important;
  -webkit-animation: open 1s cubic-bezier(0.57, -0.52, 0.54, 0.99) forwards;
          animation: open 1s cubic-bezier(0.57, -0.52, 0.54, 0.99) forwards;
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translate(-10px, 30px);
            transform: translate(-10px, 30px);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translate(-10px, 30px);
            transform: translate(-10px, 30px);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

header .cart-card {
  display: none;
  position: absolute;
  right: -60px;
  top: 80%;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.192);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.192);
}

header .cart-card > * {
  padding: 1.3rem;
}

header .cart-card .title {
  padding: 1rem 1.3rem;
}

header .cart-card .card-content {
  border-top: 2px solid #f7f8fd;
}

header .cart-card .card-content a {
  text-decoration: none;
}

header .cart-card .card-content a section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

header .cart-card .card-content a section img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}

header .cart-card .card-content a section .desc {
  color: #b6bcc8;
}

header .cart-card .card-content a section .desc .price span {
  color: black;
  font-weight: bold;
}

header .cart-card .card-content a section .delete {
  width: 15px;
  height: auto;
}

header .cart-card .card-content button {
  margin-top: 1rem;
  width: 100%;
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

header .cart-card .card-content button:hover {
  opacity: 0.5;
}

.productImage {
  max-width: 500px;
  margin: auto;
  margin-top: 4rem;
}

.productImage .mainImage {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.productImage .mainImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productImage .thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.productImage .thumbnail .active {
  border-color: #ff7d1a;
}

.productImage .thumbnail .active img {
  opacity: 0.5;
}

.productImage .thumbnail > div {
  width: 100px;
  height: 100px;
  border-radius: 0.8rem;
  border: 3px solid transparent;
  overflow: hidden;
  cursor: pointer;
}

.productImage .thumbnail > div:hover img {
  opacity: 0.5;
}

.productImage .thumbnail img {
  width: 100%;
  height: 100%;
}

.productDesc {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.productDesc h3 {
  color: #ff7d1a;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.productDesc h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.productDesc .desc {
  color: #68707d;
}

.productDesc .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productDesc .pricing .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productDesc .pricing .price {
  font-size: 1.5rem;
  font-weight: bold;
}

.productDesc .pricing .promo {
  font-weight: bold;
  background-color: #ffede0;
  color: #ff7d1a;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
}

.productDesc .oldPrice {
  text-decoration: line-through;
  color: #b6bcc8;
  font-size: 0.9rem;
}

.productDesc form {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productDesc form button {
  width: 100%;
  margin-left: 1rem;
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.productDesc form button:hover {
  opacity: 0.5;
}

.productDesc .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f8fd;
  border-radius: 0.4rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.productDesc .quantity .minus, .productDesc .quantity .plus {
  color: #ff7d1a;
  font-weight: bold;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.productDesc .quantity .minus:hover, .productDesc .quantity .plus:hover {
  opacity: 0.5;
}

.productDesc .quantity .minus {
  background-image: url(../images/icon-minus.svg);
}

.productDesc .quantity .plus {
  background-image: url(../images/icon-plus.svg);
}

.productDesc .quantity .number {
  width: 4rem;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: transparent;
}

.productDesc .quantity input::-webkit-outer-spin-button,
.productDesc .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.preview {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.76);
}

.preview .carouselContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preview .carouselContainer .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 0;
  cursor: pointer;
}

.preview .carouselContainer .close:hover {
  -webkit-filter: invert(58%) sepia(81%) saturate(2480%) hue-rotate(346deg) brightness(102%) contrast(104%);
          filter: invert(58%) sepia(81%) saturate(2480%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

.preview .carouselContainer .carousel {
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 1rem;
}

.preview .carouselContainer .carousel .active {
  z-index: 50;
  -webkit-animation: fade 0.3s ease-in forwards;
          animation: fade 0.3s ease-in forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.preview .carouselContainer .carousel .fading {
  z-index: 40;
}

.preview .carouselContainer .carousel .item {
  position: absolute;
}

.preview .carouselContainer .carousel .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.preview .carouselContainer .carousel .prev, .preview .carouselContainer .carousel .next {
  position: absolute;
  z-index: 100;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f7f8fd;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.preview .carouselContainer .carousel .prev img, .preview .carouselContainer .carousel .next img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preview .carouselContainer .carousel .prev:hover img, .preview .carouselContainer .carousel .next:hover img {
  -webkit-filter: invert(58%) sepia(81%) saturate(2480%) hue-rotate(346deg) brightness(102%) contrast(104%);
          filter: invert(58%) sepia(81%) saturate(2480%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

.preview .carouselContainer .carousel .prev {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preview .carouselContainer .carousel .prev img {
  left: 45%;
}

.preview .carouselContainer .carousel .prev:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.preview .carouselContainer .carousel .next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.preview .carouselContainer .carousel .next img {
  left: 55%;
}

.preview .carouselContainer .carousel .next:hover {
  -webkit-transform: translate(50%, -50%) scale(1.1);
          transform: translate(50%, -50%) scale(1.1);
}

.preview .carouselContainer .itemPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 3.5rem;
}

.preview .carouselContainer .itemPreview .item {
  width: 100px;
  height: 100px;
  border-radius: 0.8rem;
  border: 2px solid transparent;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.preview .carouselContainer .itemPreview .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview .carouselContainer .itemPreview .item img:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.preview .carouselContainer .itemPreview .item::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
}

.preview .carouselContainer .itemPreview .active {
  border-color: #ff7d1a;
}

.preview .carouselContainer .itemPreview .active img {
  opacity: 0.5;
}

.open {
  display: block;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  header {
    height: 70px;
    position: unset;
  }
  header .brand_logo {
    margin-right: 0;
  }
  header .panierProfil .cart {
    margin: 0 1rem;
  }
  header .panierProfil .profil {
    margin-left: 0.5rem;
  }
  header .panierProfil .profil img {
    width: 2rem;
    height: 2rem;
  }
  header .cart-card {
    z-index: 100;
    top: 75px;
    left: 5px;
    right: 5px;
  }
  .burger {
    width: 20px;
    height: 15px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 1rem;
    cursor: pointer;
  }
  .burger .line {
    width: 100%;
    height: 3px;
    background: black;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    inset: 0;
    z-index: 100;
  }
  .open {
    -webkit-animation: open 0.5s ease-in-out forwards;
            animation: open 0.5s ease-in-out forwards;
  }
  @-webkit-keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .closing {
    -webkit-animation: closing 0.5s ease-in-out forwards;
            animation: closing 0.5s ease-in-out forwards;
  }
  @-webkit-keyframes closing {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes closing {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .closed {
    display: none;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: white;
    width: 200px;
    height: 100vh;
    padding: 1rem 1.5rem;
  }
  .nav .close {
    display: block !important;
    margin-bottom: 2rem;
  }
  .nav a {
    padding: 1rem 0 0 0  !important;
    margin-left: 0 !important;
    color: black !important;
    font-weight: bold;
  }
  .productImage {
    display: none;
  }
  .preview {
    display: block;
    position: relative;
  }
  .preview .carouselContainer {
    position: unset;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .preview .carouselContainer .carousel {
    width: 100vw;
    height: 80vw;
    overflow: hidden;
    border-radius: 0;
  }
  .preview .carouselContainer .carousel .prev, .preview .carouselContainer .carousel .next {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 40px;
    height: 40px;
  }
  .preview .carouselContainer .carousel .prev img, .preview .carouselContainer .carousel .next img {
    width: 10px;
  }
  .preview .carouselContainer .carousel .prev:hover, .preview .carouselContainer .carousel .next:hover {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .preview .carouselContainer .carousel .prev {
    left: 10px;
  }
  .preview .carouselContainer .carousel .next {
    right: 10px;
  }
  .preview .carouselContainer .carousel .item {
    width: 100%;
    height: 100%;
  }
  .preview .carouselContainer .carousel .item img {
    border-radius: 0;
  }
  .preview .itemPreview, .preview .close {
    display: none !important;
  }
  .productDesc {
    padding: 5px;
    padding-top: 1.5rem;
  }
  .productDesc h3 {
    font-size: 0.9rem;
  }
  .productDesc h1 {
    font-size: 1.8rem;
  }
  .productDesc .pricing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .productDesc form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productDesc form > * {
    max-width: 100% !important;
  }
  .productDesc form .quantity {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.6rem;
  }
  .productDesc form button {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */